<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fly.fish.asdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <!-- msa权限 -->
    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS" />

    <!--    Android R(11)版本适配-->
    <queries>
        <!-- 指定微信包名-->
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:name="fly.fish.asdk.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <!-- 下面要用的的一些配置哦 -->
        <activity
            android:name="fly.fish.dialog.PrivacyActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <intent-filter>
                <!--协议部分，随便设置-->
                <data android:scheme="GAME_NAME_BROWER" />
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name="fly.fish.dialog.DetailsActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <service
            android:name="fly.fish.aidl.MyRemoteService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="fly.fish.aidl.IMyTaskBinder" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- 以下可设置横竖屏 -->
        <activity
            android:name="fly.fish.othersdk.OnekeyAutoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@style/ay_dialog_style" />
        <activity
            android:name="fly.fish.asdk.AsdkActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.ChargeActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.LoginActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.ForgetPasswordActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.ChangePasswordActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.FindWayActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.TestAcountActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.CardListActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="fly.fish.asdk.ChargeInfo"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.ChargeInfoForAilpay"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.UserinfoActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.ChargeMessage"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.ChargeForZS"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="fly.fish.asdk.BindAccountActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.BindPhoneAndEmailActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="fly.fish.asdk.CardRechargeActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="fly.fish.asdk.BindPhoneTipActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!-- 以上可设置横竖屏 -->

        <activity
            android:name="fly.fish.othersdk.YXWebActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <service android:name="fly.fish.checkorder.IntentServiceDemo" />

        <!-- unipay -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->
        <!-- 注意authorities修改包名+.fileprovider -->
        <provider
            android:name="fly.fish.tools.ASProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/asfile_paths" />
        </provider>
    </application>
</manifest>